<div class="col-6">
    <div class="form-floating mb-3">
      <input type="text" class="form-control" id="floatingInput" value="{{this.username}}" placeholder="username" name="username">
      <label for="floatingInput">UserName</label>
    </div>
  </div>
  <div class="col-6">
    <div class="form-floating mb-3">
      <input type="text" class="form-control" id="floatingInput" value="{{this.password}}" placeholder="password" name="password">
      <label for="floatingInput">Password</label>
    </div>
  </div>
  <div class="col-6">
    <div class="form-floating mb-3">
      <input type="email" class="form-control" id="floatingInput" value="{{this.passwordconform}}" placeholder="passwordconform" name="passwordconform">
      <label for="floatingInput">Password Conform</label>
    </div>
  </div>

 
  <div class="col-12 d-grid">
    <button class="btn btn-primary" type="submit">Submit</button>
  </div>